################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/AsteroidsNasa/FileContentIndex/5484269a-f435-444b-a20f-15b884aa795c.vsidx
